@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  width: 100vw;
  max-height: 100vh;
  /* background-color: #121721; */
}

@keyframes spin {
  to {
    transform: rotateY(90deg);
    /* transition: all ease-in 5s; */
  }
}

.animate-spin {
  animation: spin 0.2s linear;
  animation-duration: 50ms;
}
